body {
    background-color: lightblue;
    text-align: center;
    color: white;
    font-family: verdana;
    font-size: 20px;
}

table {
   border-collapse: collapse;
}

td {
   width: 50px;
   height: 50px;
}

.red {
   background-color: red;
}

.blue {
   background-color: blue;
}

.white {
   background-color: white;
}

.green {
   background-color: lime;
}

.yellow {
   background-color: yellow;
}

.orange {
   background-color: orange;
}

button {
   color: white;
   text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
   border: 4px solid black;
 }
